################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2DShapesPublished
/2DShapes run exe.bat
